<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }}</title>
</head>
<body>
    <h1>{{ .message }}</h1>
    <ul>
        {{ range .data.GithubData }}
            <li><a href="{{ .Key }}">{{ .Key }}</a>: {{ .Value }}</li>
        {{ end }}
    </ul>
    <ul>

         <a href="/?NextRevision=0&Step=Reset&Start=0&End=0">Top</a>
         {{ if .data.Next }}
                  <a href="/?Step=Next&NextRevision={{ .data.NextRevision }}&Start={{ .data.Start }}&End={{ .data.End }}">Next</a>
         {{ end }}
           <a href="/?Step=Prev&Start={{ .data.Start }}&End={{ .data.End }}&NextRevision={{ .data.NextRevision }}">Prev</a>
    </ul>
</body>
</html>
